
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/address-edit.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <title>Urbano t-shirts</title>


  <script src="/js/header-behavior.js" defer></script>
</head>
<body id="body-div">



 <!-- ===== HEADER ===== -->
 <%- include("./components/header.ejs") %>

  <main>

    <div class="main-container">

      <section class="register-button-section">

        <a href="" class="register-button">
          <img src="../public/img/personal-data.svg" alt="">
          <p>Dados Pessoais</p>
        </a>

        <a href="" class="register-button">
          <img src="../public/img/address.svg" alt="">
          <p>Endereço</p>
        </a>

        <a href="" class="register-button">
          <img src="../public/img/request.svg" alt="">
          <p>Pedidos</p>
        </a>

        <a href="" class="register-button">
          <img src="../public/img/power-off.svg" alt="">
          <p>Sair</p>
        </a>

      </section>


      <section class="form-section">

        <form action="/editar-endereco" method="post">

          <div class="hugging-form">

            <div class="input-box">
              <label for="address">Logradouro</label>   
              <input type="text" name="address" id="address" value="<%= address.publicPlace %> ">
            </div>
  
          
            <div class="assistant-form-box">
              <div class="input-box">
                <label for="number">Número</label>   
                <input type="text" name="number" id="number" value="<%= address.number %> " >
              </div>
              <div class="input-box">
                <label for="complement">Complemento</label>   
                <input type="text" name="complement" id="complement"  value="<%= address.complement %> ">
              </div>
            </div>
  
          
            <div class="assistant-form-box">
              <div class="input-box">
                <label for="neighborhood">Bairro</label>   
                <input type="text" name="neighborhood" id="neighborhood" value="<%= address.district %> ">
              </div>
              <div class="input-box">
                <label for="city">Cidade</label>   
                <input type="text" name="city" id="city" value="<%= address.city %> ">
              </div>
            </div>

            <div class="assistant-form-box">
              <div class="input-box">
                <label for="state">Estado</label>   
                <input type="text" name="state" id="state" value="<%= address.state %> ">
              </div>
              <div class="input-box">
                <label for="cep">CEP</label>   
                <input type="text" name="cep" id="cep" value="<%= address.zipCode %> ">
              </div>  
            </div>

            <div class="input-box">
              <label for="address">Referência</label>   
              <input type="text" name="address" id="address" value="<%= address.reference %> ">
            </div>

          </div>

          <button type="submit">Salvar</button>

        </form>

      </section>

    </div>

  </main>

   <!-- ===== FOOTER ===== -->
   <%- include("./components/footer.ejs") %>

   <!-- ===== WHATSAPP BUTTON ===== -->
   <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>
