
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/address-edit.css">
  <link rel="stylesheet" href="/css/user-edit-buttons.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <title>Urbano t-shirts</title>

  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/showSubmenuHeaderMobile.js" defer></script>


  <script src="/js/header-behavior.js" defer></script>
</head>
<body id="body-div">



 <!-- ===== HEADER ===== -->
 <%- include("./components/header2.ejs") %>

  <main>

    <div class="main-container">

       <!-- =====  MENU LATERAL COM BUTÕES DE EDIÇÃO ===== -->
    <%- include("./components/user-edit-buttons.ejs") %>


      <section class="form-section">

        <form action="/usuario/area-cliente/<%= user.id  %>/endereco" method="POST">

          <div class="hugging-form">

            <div class="input-box">
              <label for="publicPlace">Logradouro</label>   
              <input type="text" name="publicPlace" id="publicPlace" value="<%= user.address.public_place %>  ">
            </div>
  
          
            <div class="assistant-form-box">
              <div class="input-box">
                <label for="number">Número</label>   
                <input type="text" name="number" id="number" value="<%= user.address.number %> " >
              </div>
              <div class="input-box">
                <label for="complement">Complemento</label>   
                <input type="text" name="complement" id="complement"  value="<%= user.address.complement %> ">
              </div>
            </div>
  
          
            <div class="assistant-form-box">
              <div class="input-box">
                <label for="district">Bairro</label>   
                <input type="text" name="district" id="district" value="<%= user.address.district %> ">
              </div>
              <div class="input-box">
                <label for="city">Cidade</label>   
                <input type="text" name="city" id="city" value="<%= user.address.city %> ">
              </div>
            </div>

            <div class="assistant-form-box">
              <div class="input-box">
                <label for="state">Estado</label>   
                <input type="text" name="state" id="state" value="<%= user.address.state %> ">
              </div>
              <div class="input-box">
                <label for="zipCode">CEP</label>   
                <input type="text" name="zipCode" id="zipCode" value="<%= user.address.zip_code %> ">
              </div>  
            </div>

            <div class="input-box">
              <label for="reference">Referência</label>   
              <input type="text" name="reference" id="reference" value="<%= user.address.reference %> ">
            </div>

          </div>

          <button type="submit">Salvar</button>

        </form>

      </section>

    </div>

  </main>

   <!-- ===== FOOTER ===== -->
   <%- include("./components/footer.ejs") %>

   <!-- ===== WHATSAPP BUTTON ===== -->
   <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>
