<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbano t-shirts</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">

  <link rel="icon" href="/img/favicon-logo-urbano.png">

  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/showSubmenuHeaderMobile.js" defer></script>


  <!-- <script src="/js/header-behavior.js" defer></script> -->
  <!-- <script src="/js/main.js" defer></script> -->
  <script src="/js/glider.min.js" defer></script>
  <script src="/js/showShirtPrint.js" defer></script>

</head>




<body id="body-div">

  <!-- ===== HEADER ===== -->
  <%- include("./components/header2.ejs") %>

<main >

   <section class="banner">
      <div class="glider-contain">

        <div class="glider">


          <div>
            <img src="/img/1666984241_esquenta-black-friday.jpg" alt="">
          </div>

          <div>
            
            <img src="/img/banner1.webp" alt="">
          </div>

          <div>
            <img src="/img/banner2.webp" alt="">
          </div>

          <div>
            <img src="/img/1663251155_banners1.jpg" alt="">
          </div>
        </div>
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>  
      </div>
   </section>

   <section class="featureds">
      
      <h2>Destaques</h2>
      <hr>
      
      <div class="featured-products-container">
         <% productsVariant.forEach(productVariant=>{ %>

            <a href="/produto/<%= productVariant.id %>/masculino">
               <div class="product-card">
               <img class="tshirt-image" src="<%= productVariant.image%> " alt="">
               <img class="tshirt-print" src="<%= productVariant.product.tshirt_print  %> " alt="">
               <div class="product-description">
                  <h5><%= productVariant.product.name %> </h5>
                  <p>A partir de R$ <%= productVariant.product.price.toLocaleString("pt-BR",{minimumFractionDigits:2})%></p>
               </div>
               </div>
            </a>

         <% }) %>  

      </div>
   </section>

</main>

  <!-- ===== FOOTER ===== -->
  <%- include("./components/footer.ejs") %>

  <!-- ===== WHATSAPP BUTTON ===== -->
  <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>