<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbano t-shirts</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">

  <link rel="icon" href="/img/favicon-logo-urbano.png">


  <script src="/js/header-behavior.js" defer></script>
  <!-- <script src="/js/main.js" defer></script> -->
  <script src="/js/glider.min.js" defer></script>
  <script src="/js/showShirtPrint.js" defer></script>

</head>




<body id="body-div">

  <!-- ===== HEADER ===== -->
  <%- include("./components/header.ejs") %>

  <main >

    <section class="banner">
      <div class="glider-contain">

        <div class="glider">


          <div>
            <img src="/img/1666984241_esquenta-black-friday.jpg" alt="">
          </div>

          <div>
            
            <img src="/img/banner1.webp" alt="">
          </div>

          <div>
            <img src="/img/banner2.webp" alt="">
          </div>

          <div>
            <img src="/img/1663251155_banners1.jpg" alt="">
          </div>
        </div>
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>  
      </div>
    </section>

    <section class="featureds">
      
      <h2>Destaques</h2>
      <hr>
      <div class="featured-products-container">


       <% products.forEach(product=>{ %>

        <a href="/produto/<%= product.id %> ">
          <div class="product-card">
            <img class="tshirt-image" src="<%= product.imageSecundary %> " alt="">
            <img class="tshirt-print" src="<%= product.tShirtPrint %> " alt="">
            <div class="product-description">
              <h5><%= product.name %> </h5>
              <p>A partir de R$ <%= product.price%></p>
            </div>
          </div>
        </a>

      <% }) %>  

        <!--
        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/150374988/af73c6f55d.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Luffy Beer</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/137893301/e595d5b8d0.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Auto da Compadecida</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/90833059/9b2d663184.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Disco Voador</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/126377724/373a436660.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Pokebusters</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/134975275/a8061b7bb8.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Al Elric</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/113621817/88605b59c8.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Mago Jedi</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/72457418/45468ba2ec.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Samurai das Trevas</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/92118689/2cbbb01252.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Julius</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/93082459/d03cc58581.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Mouse</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>


        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/143489861/2a55d2243e.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Talismãs</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/134996091/1b9ea29399.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Pokebusters</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/143654695/3bcd401123.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Alice</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/89204494/8e9a5db088.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Mighty Ducks</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/133001035/209142d4aa.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Super Smash Wars</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/140168950/a2bd361bd3.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Game Baddies</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/175326571/e4d4a8cc0e.jpg" alt="">
            <div class="product-description">
              <h5>Manga Longa Rei da Química</h5>
              <p>A partir de R$ 87,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/140776234/ce1ddbeb54.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Daddy is Home!</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
           <img src="https://cdn.awsli.com.br/300x300/0/622/produto/134018933/9989dafad8.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Guerra das Casas</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/135510747/4e38f0c6fc.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta E.T.s</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/91933273/32ffdd8cb4.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Scorpions</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/91729481/72ad02513d.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Samurai Vader</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/109242661/5a4ecd476c.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Cuphead Fantasma</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/123531265/d3506ea2a6.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Winter War</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/178846273/bb7d6562ff.jpg" alt="">
            <div class="product-description">
              <h5>Manga Longa Star Fighter</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/179053197/b15d8d84c3.jpg" alt="">
            <div class="product-description">
              <h5>Manga Longa 80s Games</h5>
              <p>A partir de R$ 87,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/171900717/1125f4c92d.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Bolaños</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/179052615/75dd44abb2.jpg" alt="">
            <div class="product-description">
              <h5>Manga Longa Family Guy</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/163994363/5f5c2af36c.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Studio Ghibli</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/140644289/3b2ea11c29.jpg" alt="">
            <div class="product-description">
              <h5>Manga Ozzy Joker</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/135068365/61f685c7f4.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Arcane</h5>
              <p>A partir de R$ 78,90</p>
            </div>
          </div>
        </a>

        <a href="">
          <div class="product-card">
            <img src="https://cdn.awsli.com.br/300x300/0/622/produto/140168896/e921072183.jpg" alt="">
            <div class="product-description">
              <h5>Camiseta Grito do Pool</h5>
              <p>A partir de R$ 86,00</p>
            </div>
          </div>
        </a> -->
      </div>
    </section>

  </main>

  <!-- ===== FOOTER ===== -->
  <%- include("./components/footer.ejs") %>

  <!-- ===== WHATSAPP BUTTON ===== -->
  <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>