<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbano t-shirts</title>


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/inner-product.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  
  <script src="/js/header-behavior.js" defer></script>
</head>
<body id="body-div">


  <!-- ===== HEADER ===== -->
  <%- include("./components/header.ejs") %>
   
  <main>

    <div class="main-container">

      <div class="top-part">

        <div class="left-part">

          <div class="image-card-box">

            <div class="image-card">
              <img src="<%= product.imageSecundary  %> " alt="">
            </div>

            <div class="image-card">
              <img src="<%= product.tShirtPrint  %> " alt="">
            </div>

            <div class="image-card">
              <img src="" alt="">
            </div>

          </div>

          <div class="image-box">
            <img src="<%= product.image  %> " alt="">
          </div>

        </div>

        <div class="right-part">

        </div>

      </div>

      <div class="bottom-part">

      </div>
    </div>
     
  </main>

  <!-- ===== FOOTER ===== -->
  <%- include("./components/footer.ejs") %>

  <!-- ===== WHATSAPP BUTTON ===== -->
  <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>