<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbano t-shirts</title>
    

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-panel-personal-data.css">

    <link rel="icon" href="/img/favicon-logo-urbano.png">
    <link rel="stylesheet" href="/css/user-edit-buttons.css">
    
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/showSubmenuHeaderMobile.js" defer></script>

    <script src="/js/header-behavior.js" defer></script>
    <script src="/js/input-mask-functions.js" defer></script>
    <script src="/js/editionMode.js" defer></script>
  </head>

  <body id="body-div">

    <!-- ===== HEADER ===== -->
    <%- include("./components/header2.ejs") %>

    <main>

      <div class="main-container">

    <!-- =====  MENU LATERAL COM BUTÕES DE EDIÇÃO ===== -->
    <%- include("./components/user-edit-buttons.ejs") %>
     

        <section class="form-section">


          <form id="personal-data-form" action="/usuario/area-cliente/<%= user.id%>/dados-pessoais" method="POST" class="">

            <div class="hugging-form">

              <div class="input-box large-input">
                <label for="name">Nome completo</label>
                <input type="text" name="name" id="name" required value="<%= user.name %> ">
              </div>
            
              <div class="assistant-form-box">
      
                <div class="input-box">
                  <label for="cpf">CPF</label>
                  <input type="text" name="cpf" id="cpf" required value="<%= user.cpf %> "> 
                </div>
              
              </div>
      
              <div class="input-box large-input">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value="<%= user.email %> " required >
              </div>
      
              <div class="input-box large-input">
                <label for="tel">Celular</label>
                <input type="tel" name="tel" id="tel" maxlength="15" value="<%= user.tel %> "  required >
              </div>
      
              <div class="assistant-form-box">
      
                <div class="input-box">
                  <label for="password">Senha</label>
                  <input type="password" name="password" id="new-password" value=""  required >
                </div>
      
                <div class="input-box">
                  <label for="type-again">Confirmar senha</label>
                  <input type="password" name="type-again" id="type-again">
                </div>

              </div>

            </div>
              
            <button type="submit">Salvar</button>

          </form>

        </section>

      </div>

    </main>  

    <!-- ===== FOOTER ===== -->
    <%- include("./components/footer.ejs") %>

    <!-- ===== WHATSAPP BUTTON ===== -->
    <%- include("./components/whatsapp-button.ejs") %>
    
  </body>

</html>







