<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbano t-shirts</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/products-listing.css">

  <link rel="icon" href="/img/favicon-logo-urbano.png">

  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/showSubmenuHeaderMobile.js" defer></script>

  <script src="/js/header-behavior.js" defer></script>
  <script src="/js/main.js" defer></script>
  <script src="/js/showShirtPrint.js" defer></script>

</head>


<body id="body-div">


  <!-- ===== HEADER ===== -->
  <%- include("./components/header2.ejs") %>

  <main >

    <div class="main-container">

      
      <div class="top-part">

        <h2>Camisetas</h2>
        <select name="choice-order-filter" id="choice-order-filter">
          <option data-content value="alphabetical-order">Ordem alfabética</option>
          <option data-content value="best-sellers">Mais vendidos</option>
          <option data-content value="lowest-price">Menor preço</option>
          <option data-content value="biggest-price">Maior preço</option>
        </select>

      </div>
      
  
      <hr>

      <div class="sections-container">

        <section class="filters">

          <h3>Filtros</h3>
          <div class="filters-box">
  
            <div class="box-size-checkboxs filters-box-divs">

              <h3>Tamanho</h3>

              <div class="top">
                <input type="checkbox" name="p-size-label" id="p-size-label" checked>
                <label id="first-size-label" for="p-size-label" class="size-label">P</label>
    
                <input type="checkbox" name="m-size-label" id="m-size-label">
                <label id="second-size-label" for="m-size-label" class="size-label">M</label>
    
                <input type="checkbox" name="g-size-label" id="g-size-label">
                <label for="g-size-label" class="size-label">G</label>
  
              </div>

              <div class="bottom">
                <input type="checkbox" name="gg-size-label" id="gg-size-label">
                <label for="gg-size-label" class="size-label">GG</label>
    
                <input type="checkbox" name="xg-size-label" id="xg-size-label">
                <label for="xg-size-label" class="size-label">XG</label>
                
                <input type="checkbox" name="xgg-size-label" id="xgg-size-label">
                <label for="xgg-size-label" class="size-label">XGG</label>
              </div>
              
            </div>

            <div class="box-genre-checkboxs filters-box-divs">

              <div class="top">
                <input type="checkbox" name="masculine" id="masculine">
                <label for="masculine" class="genre-label">Masculino</label>
              </div>
              
              <div class="bottom">
                <input type="checkbox" name="feminine" id="feminine" checked>
                <label for="feminine" class="genre-label">Feminino</label>
              </div>
              
            </div>

            <div class="box-colors-filter filters-box-divs">

              <h3>Cores</h3>
              <div class="colors">
                <div class="white color-square" title="branco"></div>
                <div class="blue color-square" title="azul"></div>
                <div class="red color-square" title="vermelho"></div>
                <div class="green color-square" title="verde"></div>
                <div class="pink color-square" title="rosa"></div>
                <div class="brown color-square" title="marrom"></div>
                <div class="orange color-square" title="laranja"></div>
                <div class="gray color-square" title="cinza"></div>
                <div class="yellow color-square" title="amarelo"></div>
                <div class="purple color-square" title="roxo"></div>
                <div class="black color-square" title="preto"></div>
                <div class="ice color-square" title="cor de gelo"></div>
              </div>
                            
            </div>
  
  
          </div>

        </section>
  
        <section class="products-listing">
  
          <div class="products-listing-container">
    
            <% productsVariant.forEach(productVariant =>{ %>

              <% if(productsVariant.model = "masculina"){ %>
                <a href="/produto/<%=productVariant.id %>/masculino">
                  <div class="product-card">
                    <img class="tshirt-image" src="/<%= productVariant.image %> " alt="">
                    <img class="tshirt-print" src="/<%= productVariant.product.tshirt_print%> " alt="">
                    <div class="product-description">
                      <h5><%= productVariant.product.name %> </h5>
                      <p>A partir de R$ <%= productVariant.product.price%> </p>
                    </div>
                  </div>
                </a>
              <% }else{ %>
                <a href="/produto/<%=productVariant.id %>/feminino">
                  <div class="product-card">
                    <img class="tshirt-image" src="/<%= productVariant.image %> " alt="">
                    <img class="tshirt-print" src="/<%= productVariant.product.tshirt_print%> " alt="">
                    <div class="product-description">
                      <h5><%= productVariant.product.name %> </h5>
                      <p>A partir de R$ <%= productVariant.product.price%> </p>
                    </div>
                  </div>
                </a>
              <% } %>
              


            <% }); %> 
            
    
          </div>
    
        </section>

      </div>

    </div>
    

  </main>

  <!-- ===== FOOTER ===== -->
  <%- include("./components/footer.ejs") %>

  <!-- ===== WHATSAPP BUTTON ===== -->
  <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>