<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbano t-shirts</title>

  <link rel="icon" href="/img/favicon-logo-urbano.png">


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/register.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/showSubmenuHeaderMobile.js" defer></script>
  

  <script src="/js/validationRegisterForm.js" defer></script>
  <script src="/js/lookingZipeCodeInfos.js" defer></script>
</head>
<body id="body-div">


  <!-- ===== HEADER ===== -->
  <%- include("./components/header.ejs") %>
   
  <main>

    <div class="main-container">

      <form action="/usuario/cadastro" method="POST" id="register-form">
        
        <section class="register-data-section">

          <div class="section-title-box">
            <img src="/img/register-data-icon.svg" alt="">
            <h3>Dados do cadastro</h3>
          </div>
          
          <div class="wrapper-inputs-box">

            <div class="input-box">
              <label for="email-id">E-mail</label>
              <input type="text" name="email" id="email-id" value="<%= locals.old ? old.email : "" %>">
              <span class="input-erro-msg"></span>
              <% if(locals.errors && errors.email){ %>
                <div class="danger">
                  <%= errors.email.msg %>
                </div>
              <% } %>
            </div>
            
            

            <div class="input-box">
              <label for="confirm-email-id">Confirmar E-mail</label>
              <input type="text" name="confirmEmail" id="confirm-email-id" value="<%= locals.old ? old.confirmEmail : "" %>">
              <span class="input-erro-msg"></span>
              <% if(locals.errors && errors.confirmEmail){ %>
                <div class="danger">
                  <%= errors.confirmEmail.msg %>
                </div>
              <% } %>
            </div>

            
            
          </div>

          <div class="wrapper-inputs-box">

            <div class="input-box">
              <label for="password-id">Senha</label>
              <input type="password" name="password" id="password-id">
              <span class="input-erro-msg"></span>
              <% if(locals.errors && errors.password){ %>
                <div class="danger">
                  <%= errors.password.msg %>
                </div>
              <% } %>
            </div>

            

            <div class="input-box">
              <label for="confirm-password-id">Confirmar senha</label>
              <input type="password" name="confirmPassword" id="confirm-password-id">
              <span class="input-erro-msg"></span>
              <% if(locals.errors && errors.confirmPassword){ %>
                <div class="danger">
                  <%= errors.confirmPassword.msg %>
                </div>
              <% } %>
            </div>

            

          </div>

        </section>
  
        <div class="wrapper-sections-box">

          <section class="personal-data-section">

            <div class="section-title-box">
              <img src="/img/register-data-icon.svg" alt="">
              <h3>Dados pessoais</h3>
            </div>
  
            <div class="inputs-column-behavior">

              <div class="input-box">
                <label for="name-id">Nome completo</label>
                <input type="text" name="name" id="name-id" value="<%= locals.old ? old.name : "" %>">
                <% if(locals.errors && errors.name){ %>
                  <div class="danger">
                    <%= errors.name.msg %>
                  </div>
                <% } %>
              </div>
  
              <div class="input-box">
                <label for="cpf-id">CPF</label>
                <input type="text" name="cpf" id="cpf-id" value="<%= locals.old ? old.cpf : "" %>">
                <% if(locals.errors && errors.cpf){ %>
                  <div class="danger">
                    <%= errors.cpf.msg %>
                  </div>
                <% } %>
              </div>

              <div class="input-box">
                <label for="tel">Telefone</label>
                <input type="tel" name="tel" id="tel" value="<%= locals.old ? old.tel : "" %>">
                <% if(locals.errors && errors.tel){ %>
                  <div class="danger">
                    <%= errors.tel.msg %>
                  </div>
                <% } %>
              </div>

              <div class="input-box">
                <label for="gender">Sexo</label>
                <select name="gender" class="select-gender">  
                  <option value="masculino" <%= locals.old && old.gender == "masculino" ? "selected" : "" %>>Masculino</option>
                  <option value="feminino" <%= locals.old && old.gender == "feminino" ? "selected" : "" %>>Feminino</option>
                  <option value="outro" selected>Outro</option>
                </select>
                <span class="input-erro-msg"></span>
              </div>

            </div>

          </section>
  
          <section class="address-section">

            <div class="section-title-box">
              <img src="/img/register-data-icon.svg" alt="">
              <h3>Endereço</h3>
            </div>
           
            <div class="inputs-column-behavior">


              <div class="input-box">
                <label for="zip-code-id">Cep</label>
                <input type="text" name="zipCode" id="zip-code-id" value="<%= locals.old ? old.zipCode : "" %>">
                <% if(locals.errors && errors.zipCode){ %>
                  <div class="danger">
                    <%= errors.zipCode.msg %>
                  </div>
                <% } %>
              </div>
  


              <div class="input-box">
                <label for="public-place-id">Logradouro</label>
                <input type="text" name="publicPlace" id="public-place-id" value="<%= locals.old ? old.publicPlace : "" %>">
                <% if(locals.errors && errors.publicPlace){ %>
                  <div class="danger">
                    <%= errors.publicPlace.msg %>
                  </div>
                <% } %>
              </div>
  
              
  
              <div class="hugging-inputs-box "> 

                <div class="input-box address-number">
                  <label for="number-id">Número</label>
                  <input type="number" name="number" id="number-id" value="<%= locals.old ? old.number : "" %>">
                  <% if(locals.errors && errors.number){ %>
                    <div class="danger">
                      <%= errors.number.msg %>
                    </div>
                  <% } %>
                </div>

                <div class="input-box address-number">
                  <label for="complement-id">Complemento</label>
                  <input type="text" name="complement" id="complement-id" value="<%= locals.old ? old.complement : "" %>">
                  <% if(locals.errors && errors.complement){ %>
                    <div class="danger">
                      <%= errors.complement.msg %>
                    </div>
                  <% } %>
                </div>

              </div>
            
            
              <div class="input-box">
                <label for="district-id">Bairro</label>
                <input type="text" name="district" id="district-id" value="<%= locals.old ? old.district : "" %>">
                <% if(locals.errors && errors.district){ %>
                  <div class="danger">
                    <%= errors.district.msg %>
                  </div>
                <% } %>
              </div>

              <div class="input-box">
                <label for="reference-id">Referência</label>
                <input type="text" name="reference" id="reference-id" value="<%= locals.old ? old.reference : "" %>">
                <% if(locals.errors && errors.reference){ %>
                  <div class="danger">
                    <%= errors.reference.msg %>
                  </div>
                <% } %>
              </div>
  
             
                <div class="input-box">
                  <label for="city-id">Cidade</label>
                  <input type="text" name="city" id="city-id" value="<%= locals.old ? old.city : "" %>">
                  <% if(locals.errors && errors.city){ %>
                    <div class="danger">
                      <%= errors.city.msg %>
                    </div>
                  <% } %>
                </div>
  
               
                <div class="input-box">
                  <label for="state">UF</label>
                  <select name="state" class="select-state" id="state-id">
                    <option value="AC" <%= locals.old && old.state == "AC" ? "selected" : "" %>>AC</option>
                    <option value="AL" <%= locals.old && old.state == "AL" ? "selected" : "" %>>AL</option>
                    <option value="AP" <%= locals.old && old.state == "AP" ? "selected" : "" %>>AP</option>
                    <option value="AM" <%= locals.old && old.state == "AM" ? "selected" : "" %>>AM</option>
                    <option value="BA" <%= locals.old && old.state == "BA" ? "selected" : "" %>>BA</option>
                    <option value="CE" <%= locals.old && old.state == "CE" ? "selected" : "" %>>CE</option>
                    <option value="DF" <%= locals.old && old.state == "DF" ? "selected" : "" %>>DF</option>
                    <option value="ES" <%= locals.old && old.state == "ES" ? "selected" : "" %>>ES</option>
                    <option value="GO" <%= locals.old && old.state == "GO" ? "selected" : "" %>>GO</option>
                    <option value="MA" <%= locals.old && old.state == "MA" ? "selected" : "" %>>MA</option>
                    <option value="MT" <%= locals.old && old.state == "MT" ? "selected" : "" %>>MT</option>
                    <option value="MS" <%= locals.old && old.state == "MS" ? "selected" : "" %>>MS</option>
                    <option value="MG" <%= locals.old && old.state == "MG" ? "selected" : "" %>>MG</option>
                    <option value="PA" <%= locals.old && old.state == "PA" ? "selected" : "" %>>PA</option>
                    <option value="PB" <%= locals.old && old.state == "PB" ? "selected" : "" %>>PB</option>
                    <option value="PR" <%= locals.old && old.state == "PR" ? "selected" : "" %>>PR</option>
                    <option value="PE" <%= locals.old && old.state == "PE" ? "selected" : "" %>>PE</option>
                    <option value="PI" <%= locals.old && old.state == "PI" ? "selected" : "" %>>PI</option>
                    <option value="RJ" <%= locals.old && old.state == "RJ" ? "selected" : "" %>>RJ</option>
                    <option value="RN" <%= locals.old && old.state == "RN" ? "selected" : "" %>>RN</option>
                    <option value="RS" <%= locals.old && old.state == "RS" ? "selected" : "" %>>RS</option>
                    <option value="RO" <%= locals.old && old.state == "RO" ? "selected" : "" %>>RO</option>
                    <option value="RR" <%= locals.old && old.state == "RR" ? "selected" : "" %>>RR</option>
                    <option value="SC" <%= locals.old && old.state == "SC" ? "selected" : "" %>>SC</option>
                    <option value="SP" <%= locals.old && old.state == "SP" ? "selected" : "" %>>SP</option>
                    <option value="SE" <%= locals.old && old.state == "SE" ? "selected" : "" %>>SE</option>
                    <option value="TO" <%= locals.old && old.state == "TO" ? "selected" : "" %>>TO</option>
                  </select>
                  <span class="input-erro-msg"></span>
                </div>
              </div>

            </div>

  
          </section>

        </div>

        <div class="buttons-box">
          <button type="">Cancelar</button>
          <button type="submit" id="create-account-button" data-create-account-button>Criar conta</button>
        </div>
     
      </form>

      <div class="have-account">
        <a href="/login">Tem uma conta? Fazer Login</a>
      </div>

    </div>
     
  </main>

 <!-- ===== FOOTER ===== -->
 <%- include("./components/footer.ejs") %>

 <!-- ===== WHATSAPP BUTTON ===== -->
 <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>