<!DOCTYPE html>
<html lang="pt-br">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbano t-shirts</title>

  

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/shopping-cart.css">


  <link rel="icon" href="/img/favicon-logo-urbano.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/showSubmenuHeaderMobile.js" defer></script>
  

</head>


<body id="body-div">

  <!-- ===== HEADER ===== -->
  <%- include("./components/header2.ejs") %>

  <main>

    <form action="" class="main-container">

      <div class="top-part">
        <h4 class="title styling-elements">Carrinho</h4>
        <p class="description styling-elements">Clique em finalizar compra para efetuar o seu pedido</p>
      </div>

      <div class="middle-part ">
        
        <div class="titles-bar styling-elements">

          <h4 class="product">Produto</h4>
          <div class="another-titles-box">
            <h4 class="price">Preço Unitário</h4>
            <h4 class="the-amount">Quantidade</h4>
            <h4 class="subtotal">Subtotal</h4>
            <h4 class="delete">Excluir</h4>
          </div>
          
        </div>

        <div class="cart-content">

          <div class="product-content">
            <a href=""><img src="<%= productVariant.image %>" alt=""></a>
            <div class="infos-product-box">
              <a href=""><h3><%= productVariant.product.name %></h3></a>
              <p>Cor: <%= productVariant.color %></p>
              <p>Tamanho: <%= size %></p>
            </div>
          </div>

          <div class="another-infos">
            <p>R$ <%= productVariant.product.price.toLocaleString("pt-BR", {minimumFractionDigits:2}) %></p>

            <div class="the-amount-itens">
              
              <p class="center-item"><%= quantity %></p>
              
            </div>

            <p>R$ <%= productVariant.product.price.toLocaleString("pt-BR", {minimumFractionDigits:2}) %></p>
            <div class="image-box">
              <img src="/img/delete-image.svg" alt="">
            </div>
            
          </div>

        </div>

      </div>

      <div class="bottom-part">
        <div class="left-part styling-bottom-elements">
          <h4 class="total-title">Total: &NoBreak;</h4>
          <h4 class="total-price">R$75.99</h4>
        </div>
        <button type="submit" class="right-part styling-button">
          Finalizar Compra
        </button>
      </div>
    </form>
     
  </main>

 <!-- ===== FOOTER ===== -->
 <%- include("./components/footer.ejs") %>

 <!-- ===== WHATSAPP BUTTON ===== -->
 <%- include("./components/whatsapp-button.ejs") %>

  
</body>
</html>